<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                       https://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="teacher" class="com.huge.pojo.Teacher">
		<property name="name" value="sean"/>
		<property name="age" value="11"/>
		<property name="school" ref="school"/>
	</bean>

	<bean id="school" class="com.huge.pojo.School">
		<property name="teacher" ref="teacher"/>
	</bean>

</beans>
